@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="container">
        <h1>h1 Bootstrap <small>heading</small></h1>
        <h2>h2 Bootstrap <mark>heading</mark></h2>
        <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
        <h4>h4 Bootstrap heading (18px)</h4>
        <h5>h5 Bootstrap heading< (14px)</h5>
        <h6>h6 Bootstrap heading</h6>
    </div>
    <div class="container">
    <dl>
        <dt>Coffee</dt>
        <dd>- black hot drink</dd>
        <dt>Milk</dt>
        <dd>- white cold drink</dd>
    </dl>
    <pre>
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks.
</pre>
</div>
    <div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
    </tbody>
</table>
        </div>
<div class="container">
    <h2>Circle</h2>
    <p>The .img-circle class shapes the image to a circle (not available in IE8):</p>
    <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
</div>
<div class="well well-sm">Small Well</div>
<div class="well">Normal Well</div>
<div class="well well-lg">Large Well</div>
<div class="alert alert-success">
    <strong>Success!</strong> Indicates a successful or positive action.
</div>

<div class="alert alert-info">
    <strong>Info!</strong> Indicates a neutral informative change or action.
</div>

<div class="alert alert-warning">
    <strong>Warning!</strong> Indicates a warning that might need attention.
</div>

<div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>
<a href="#" class="btn btn-info btn-lg" role="button">Link Button</a>
<button type="button" class="btn btn-info">Button</button>
<input type="button" class="btn btn-info btn-sm" value="Input Button">
<input type="submit" class="btn btn-info" value="Submit Button">
<button type="button" class="btn btn-primary active">Active Primary</button>
<button type="button" class="btn btn-primary disabled">Disabled Primary</button>
<p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
<p>
    Envelope icon as a link:
    <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
</p>
<p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
<p>
    Search icon on a button:
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
</p>
<p>
    Search icon on a styled button:
    <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
</p>
<p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
<p>
    Print icon on a styled link button:
    <a href="#" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-print"></span> Print
    </a>
</p>
<a href="#">News <span class="badge">5</span></a><br>
<a href="#">Comments <span class="badge">10</span></a><br>
<a href="#">Updates <span class="badge">2</span></a>




